pvenv/*
ministral/*
glm_ocr/*
detected_bottle/*
detected_shelf/*
label_bottles/*
label_caps/*
label_images/*
label_image_shelf/*
label_shelf/*
detected_box/*
cropped_boxes/*
label_boxes_date/*
label_obb_boxes/*
original_box_images/*
original_shelf_images/*
original_bottle_and_cap_images/*
*.pyc
*.pt
*.gguf







